[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
astunparse = "*"
attrs = "<21.0"
bcrypt = "*"
beautifulsoup4 = "*"
build = "*"
cached-property = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
contextlib2 = "*"
cors = "*"
coverage = "*"
cryptography = "*"
cycler = "*"
dependency-injector = "*"
distlib = "*"
fields = "*"
filelock = "*"
flatbuffers = "*"
fonttools = "*"
future = "*"
gast = "*"
gevent = "*"
greenlet = "*"
grpcio = "*"
gunicorn = "*"
h5py = "*"
h11 = "<0.13"
httplib2 = "*"
idna = "*"
image = "*"
importlib-metadata = "*"
iniconfig = "*"
itsdangerous = "*"
keras = "*"
kiwisolver = "*"
libclang = "*"
marshmallow = "*"
matplotlib = "*"
null = "*"
numpy = "*"
oauthlib = "*"
opt-einsum = "*"
paramiko = "*"
pep517 = "*"
pipenv = "*"
platformdirs = "*"
pluggy = "*"
protobuf = "*"
py = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pyparsing = "*"
pytest = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
rsa = "*"
schema = "*"
six = "*"
tensorflow = "*"
tensorflow-estimator = "*"
termcolor = "*"
tldextract = "*"
tomli = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
wrapt = "*"
zipp = "*"
"zope.event" = "*"
"zope.interface" = "*"
Flask = "<2.0"
Jinja2 = "<3.1"
Keras-Preprocessing = "*"
Markdown = "*"
MarkupSafe = "<2.1.0"
Pillow = "*"
PyNaCl = "*"
PySocks = "*"
Werkzeug = "*"
pytest-flask = "*"
pytest-cov = "*"
flask-cors = "*"
wheel = "*"
waitress = "*"
injector = "*"
uvicorn = "*"
pml = "*"
jsonify = "*"
bytesbufio = "*"
setuptools = "*"
absl-py = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.7.4"
